.container{
  text-align: center;
  padding: 50px;
  background-color: gray;
  min-height: 100vh;
}
.container.dark{
  background-color: black;
  color: white;
}
.btn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reset{
  background-color: green;
  color: white;
}
